# Git
.git
.gitignore

# Docker
.docker

#Python
*~
.vscode
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/

# *.py[cod]
# *.pyc
# .DS_Store


# db.sqlite3
# README.md